/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  font-size: x-large;
}

.home-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(127, 214, 255);
  margin: 0;
  text-align: start;
  padding-bottom: 5%;
}

.home-title{
  text-align: start;
  margin: 0;
}

.container-longcard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% 5% 10px 5%;
}

.container-longcard-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin: 5% 5% 10px 5%;
}

.home-container{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.home-container button {
  background-color: yellow;
  border-radius: 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height:50px;
  width: 150px;
  border-color: rgb(64, 160, 250);
  color: rgb(64, 160, 250);
}

.home-img{
  width: 300px;
  height: 300px;
}

.navbar{
  display: flex;
  margin: 0;
  width: 100;
  justify-content: space-between;
  /* padding-right: 5%; */
}

.nav-logo{
  margin-left: 5%;
}

.nav-link{
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-right: 5%;
}

.nav-link ul{
  padding-left: 0;
}

.nav-link a {
  padding: 0px 20px;
  font-size: medium;
  text-decoration: none;
  color: black;
}

.nav-logo a {
  text-decoration: none;
  color: black;
}

.home-body{
  height: 60;
  display: flex;
  flex-direction: column;
}

.body-container-longcard{
  display: flex;
  flex-direction: column;
}

.body-container-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 10% 5% 10%;
}

.body-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
}

.container-card {
  text-align: center;
  font-size: xx-large;
}

.card-img{
  width: 200px;
  height: 200px;
}

.container-quote {
  margin: 0% 10% 5% 10%;
  text-align: center;
}

.quote {
  font-style: oblique;
}

.container-quote a {
  color: orangered;
}

.home-footer{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 247, 173);
  justify-content: space-between;
  font-size: medium;
  font-style: inherit;
}

.footer-container{
  padding: 5% 0% 5% 5%;
  width: 40%;
}

.footer-menu{
  display: flex;
  align-self: center;
  height: 100%;
  margin-right: 10%;
}

.footer-link{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  list-style: none;
}

.footer-link a {
  text-decoration: none;
  color: black;
}
